.MuiCardContent-root {
    height: 230px;
}
.MuiTypography-h5{
    font-size:1.3rem !important;
}
.MuiChip-root{
    background-color:#C3DCAC;
    position: relative;
}
.tooltip {
    position: relative;
    display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #85A666;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #85A666 transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container - ENABLE THIS TO SHOW TOOLTIP-TEXT */

/*.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}*/
.MuiButtonBase-root.MuiIconButton-root.MuiAccordionSummary-expandIcon.Mui-expanded.MuiIconButton-edgeEnd{
    visibility: hidden !important;
}

